[project]
	description = Information Repository for SIMP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kendall Moore (kendall-moore)
[access "refs/for/refs/*"]
	read = group user/Kendall Moore (kendall-moore)
	push = group user/Kendall Moore (kendall-moore)
	label-Code-Review = -2..+2 group user/Kendall Moore (kendall-moore)
	label-Verified = -1..+1 group user/Kendall Moore (kendall-moore)
	rebase = group user/Kendall Moore (kendall-moore)
	removeReviewer = group user/Kendall Moore (kendall-moore)
	submit = group user/Kendall Moore (kendall-moore)
[access "refs/heads/*"]
	read = group user/Kendall Moore (kendall-moore)
	create = group user/Kendall Moore (kendall-moore)
	push = +force group user/Kendall Moore (kendall-moore)
	pushMerge = group user/Kendall Moore (kendall-moore)
[access "refs/tags/*"]
	push = +force group user/Kendall Moore (kendall-moore)
	pushTag = group user/Kendall Moore (kendall-moore)
	pushSignedTag = group user/Kendall Moore (kendall-moore)
